{% extends "basecat.html" %}

{% block content %}
	<div style="display:flex; justify-content: space-between;">
		<span style="font-weight: bold"><span style="color: magenta">{{ cat.name }}</span>, start rating!</span>
		<span>
			[<a href="{% url 'catedit' cat.id %}">edit pictures</a>]
			[
			<form action="{% url 'catremove' cat.id %}" style="display: inline" method="post">
				{% csrf_token %}
				<button type="submit" onclick="return confirm('This will permanently remove {{ cat.name }}')" title="Remove {{ cat.name }} from your cats" class="astext">remove cat</button>
			</form>
			]
		</span>
	</div>

	<div class="ratebox">
		<div class="tabbed">
			{{ cat_to_rate }}
			{% for pic in cat_to_rate_pics %}
			<input type="radio" name="tab-select" id="tab-{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
			<div class="content">
				<img src='{{ pic }}' width=100%>
			</div>
			{% endfor %}
			<nav>
			{% for pic in cat_to_rate_pics %}
				<label for="tab-{{ forloop.counter }}"><span style="color: violet; font-weight: bolder">{{ forloop.counter }}</span>{% if not forloop.last %} | {% endif %}</label>
			{% endfor %}
			</nav>
		</div>
	</div>
	<div>
		<form action="" method="post">
			{% csrf_token %}
			<div style="display:flex; justify-content: space-between;">
				<button type="submit" name="vote" value="up">yes!</button>
				<button type="submit" name="vote" value="no">no!</button>
			</div>
		</form>
	</div>
{% endblock %}
