{% extends "basecat.html" %}

{% block content %}
	<div style="display:flex; justify-content: space-between; padding-bottom: 3px">
		<span style="font-weight: bold"><span style="color: magenta">{{ cat.name }}</span>, start rating!</span>
		<span>
			<form action="{% url 'catedit' cat.id %}" style="display: inline">
				<button type="submit" title="Edit {{ cat.name }}'s pictures" class="shortbutton">edit pictures</button>
			</form>
			<form action="{% url 'catremove' cat.id %}" style="display: inline" method="post">
				{% csrf_token %}
				<button type="submit" onclick="return confirm('This will permanently remove {{ cat.name }}')" title="Remove {{ cat.name }} from your cats" class="shortbutton">remove cat</button>
			</form>
		</span>
	</div>

	<div class="ratebox">
		<div class="tabbed">
			{{ cat_to_rate }}
			{% for pic in cat_to_rate_pics %}
				<input type="radio" name="tab-select" id="tab-{{ forloop.counter }}" {% if forloop.first %}checked{% endif %}>
				<div class="content">
					<img src='{{ pic }}' width=100%>
				</div>
			{% endfor %}
			<nav>
				{% for pic in cat_to_rate_pics %}
					<label for="tab-{{ forloop.counter }}"><span style="color: violet; font-weight: bolder">{{ forloop.counter }}</span>{% if not forloop.last %} | {% endif %}</label>
				{% endfor %}
			</nav>
		</div>
	</div>
	<div class="votebox" style="margin-top: 6.9px">
		<form action="" method="post">
			{% csrf_token %}
			<div style="display:flex; justify-content: center;">
				<button type="submit" name="vote" value="up" class="votebutton">yes!</button>
				<button type="submit" name="vote" value="no" class="votebutton">no!</button>
			</div>
		</form>
	</div>
{% endblock %}
