{% extends 'base.html' %}

{% comment %}
The form for editing a user's profile. This code is essentially
copy-pasted from baseform.html. The main difference is that this form
technically contains two forms, which baseform.html cannot handle (it
can only take one form). Also, this one isn't commented, but if there's
something confusing just look at baseform.html, which *is* commented.
{% endcomment %}

{% block content %}
	<div class="center">
		<h3>Edit profile</h3>
	</div>

	<div class="center">
		{% if user_form.errors or profile_form.errors %}
			<p style="color: red"> meow! something went wrong!</p>
		{% endif %}
	</div>

	<form method="post" class="centeredform">
		{% csrf_token %}
		<input type="hidden" name="next" value="{{ next }}" />
		{% for field in user_form %}
			<p>
				{{ field.label_tag }}<br>
				{{ field }}<br>
				{% for error in field.errors %}
					<span class="formerrortext">{{ error }}</span>
				{% endfor %}
				{% if field.help_text %}
					<small style="color: grey">{{ field.help_text | safe }}</small>
				{% endif %}
			</p>
		{% endfor %}
		{% for field in profile_form %}
			<p>
				{{ field.label_tag }}<br>
				{{ field }}<br>
				{% for error in field.errors %}
					<span class="formerrortext">{{ error }}</span>
				{% endfor %}
				{% if field.help_text %}
					<small style="color: grey">{{ field.help_text | safe }}</small>
				{% endif %}
			</p>
		{% endfor %}
		<button type="submit">Submit</button>
	</form>

	<div class="center" style="padding-top: 2em">
		<a href='{% url 'editpassword' %}'>Change password</a>
	</div>
{% endblock %}
