{% extends "base.html" %}

{% block content %}
	<p>Welcome <span style="color: teal; font-weight: bolder">{{ user.get_username }}</span>!</p>

	<ul>
		<li><a href='{% url 'catsignup' %}'>Register a cat</a></li>
		{% if cats %}
			<li>
				{% if shownotification %}
					<a href='{% url 'matches' %}' style='color: blue'>Matches</a>
					<span style="color: red">[new matches!]</span>
				{% else %}
					<a href='{% url 'matches' %}'>Matches</a>
				{% endif %}
			</li>
		{% endif %}
		<li><a href='{% url 'editprofile' %}'>Edit profile</a></li>
	</ul>

	{% if cats %}
		<h3>My cats</h3>
		<div class="gridwrapper">
			{% for cat in cats %}
				<a href='{% url 'cathome' cat.id %}' class="gridbox">
					{% load template_filters %}
					<span style="color: red;">{{ catsvotesleft|get_item:cat.id }}</span>
					<img src="
						{% if cat.profilepic %}
							{{ cat.profilepic }}
						{% else %}
							{% load static %}
							{% static "/cat_default_profile_pic.png" %}
						{% endif %}
					" height=250 width=250>
					{{ cat.name }}
				</a>
			{% endfor %}
		</div>
	{% endif %}
{% endblock %}
